<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityController</servlet-name>
        <servlet-class>controller.DestinationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceDetailController</servlet-name>
        <servlet-class>controller.PlaceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteController</servlet-name>
        <servlet-class>controller.FavouriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>controller.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddListFavController</servlet-name>
        <servlet-class>controller.AddListFavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFavController</servlet-name>
        <servlet-class>controller.RemoveFavController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserController</servlet-name>
        <servlet-class>controller.ManageUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoController</servlet-name>
        <servlet-class>controller.UpdateInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>controller.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLogin</servlet-name>
        <servlet-class>controller.FacebookLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityController</servlet-name>
        <url-pattern>/destination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceDetailController</servlet-name>
        <url-pattern>/place</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteController</servlet-name>
        <url-pattern>/fav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/create_acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddListFavController</servlet-name>
        <url-pattern>/addListFav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFavController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/manage_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoController</servlet-name>
        <url-pattern>/updateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLogin</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/fav</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>viettravel7@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>uyrrmujdtyvaasmf</param-value>
    </context-param>
   
</web-app>
